ipykernel
ipywidgets
nbformat
nbclient
numpy
pandas
matplotlib
graphviz
tqdm
python-dotenv
openai
tiktoken
scikit-learn
scipy
plotly
torch
torchvision
torchaudio
transformers
datasets
tokenizers
accelerate
